In [1]:
import pandas as pd

In [54]:
file = "Best_Jobs.csv"


df = pd.read_csv(file)
skills_df=pd.read_csv("Top_Skills.csv")
skills_df['Skill']=skills_df['Skill'].str.strip()

skills_df['Skill'].value_counts().head(31)

Scheduling                    2503
Communication                 2070
Customer Service              1949
Sales                         1670
Management                    1560
Training                      1555
Hardworking And Dedicated     1202
Complex Problem Solving       1062
Operations                     881
Attention To Detail            876
Self Motivation                842
Coordinating                   840
Leadership                     839
Maintenance                    829
Merchandising                  814
Retailing                      765
Health Care                    756
Reports                        737
Finance                        712
Testing                        679
Recruitment                    673
Team-working                   667
Nursing                        664
Information Security           619
Microsoft Excel                612
English Language               607
Verbal Communication           606
Trustworthy                    595
Administration                 575
Registered Nurse Certified     559
Accounting                     538
Name: Skill, dtype: int64

In [58]:
df.head()
df['education'].value_counts()

High School                                                                                                                                                                                   3024
Bachelor's Degree                                                                                                                                                                             1027
Associate's Degree                                                                                                                                                                             601
4 Year Degree                                                                                                                                                                                  524
Other                                                                                                                                                                                          381
Vocational Certificate                                                                                                                                                                         168
2 Year Degree                                                                                                                                                                                  164
None                                                                                                                                                                                           111
Master's Degree                                                                                                                                                                                 79
Graduate Degree                                                                                                                                                                                 51
Ph.D.                                                                                                                                                                                           20
 Calibri_MSFontService                                                                                                                                                                           6
Doctorate                                                                                                                                                                                        5
 Arial                                                                                                                                                                                           2
Some College                                                                                                                                                                                     2
 sans-serif; vertical-align: baseline;"" role=""listitem"" data-leveltext=""ï‚·"" data-font=""Symbol"" data-listid=""5"" aria-setsize=""-1"" data-aria-posinset=""3"" data-aria-level=""1"">       2
 skills and contribution</span></p>                                                                                                                                                              1
 mentoring and providing technical direction to a team of Salesforce developers<br />Experienced in designing and developing Salesforce platform features such as custom objects                 1
serif; mso-fareast-font-family: 'Times New Roman'; color: black; mso-ansi-language: EN;"">Â  Â  Â </span><span style=""font-size: 10.0pt; font-family: 'Verdana'                                    1
2021-04-29T01:12:44Z                                                                                                                                                                             1
Menlo Park                                                                                                                                                                                       1
 sans-serif; vertical-align: baseline;"" role=""listitem"" data-leveltext=""ï‚·"" data-font=""Symbol"" data-listid=""5"" aria-setsize=""-1"" data-aria-posinset=""4"" data-aria-level=""1"">       1
 including criminal check and fingerprinting                                                                                                                                                     1
2021-04-27T20:14:24Z                                                                                                                                                                             1
Hamilton Township                                                                                                                                                                                1
 Arial_MSFontService                                                                                                                                                                             1
2021-04-09T12:06:19Z                                                                                                                                                                             1
 Qualifications                                                                                                                                                                                  1
 performance management                                                                                                                                                                          1
 sans-serif; vertical-align: baseline;"" role=""listitem"" data-leveltext=""ï‚·"" data-font=""Symbol"" data-listid=""5"" aria-setsize=""-1"" data-aria-posinset=""1"" data-aria-level=""1"">       1
 sans-serif; vertical-align: baseline;"" role=""listitem"" data-leveltext=""ï‚·"" data-font=""Symbol"" data-listid=""5"" aria-setsize=""-1"" data-aria-posinset=""2"" data-aria-level=""1"">       1
2021-04-30T09:44:40Z                                                                                                                                                                             1
 ICONMA prides itself on creating an employment environment that supports and encourages the abilities of all persons regardless of race                                                         1
2021-04-05T18:41:04Z                                                                                                                                                                             1
 insuredâ€™s                                                                                                                                                                                       1
 please send your resume along with a cover letter to: <strong style=""mso-bidi-font-weight: normal;"">Christine DeHart                                                                          1
Name: education, dtype: int64

In [3]:
df['crawled_at'].value_counts()

05/05/2021, 03:22:32                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 12
05/05/2021, 03:15:25                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 11
05/05/2021, 03:23:31                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 11
05/05/2021, 03:23:39                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 11
05/05/2021, 03:26:36                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 11
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ..
sans-serif; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; color: black;"">Participate in the full-cycle software development process</span></p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
-84.46452                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
 sans-serif; font-kerning: none; line-height: 20.5042px;""  [ Link Removed ] ""EN-US"" data-contrast=""auto""><span class=""NormalTextRun SCXW205534629 BCX0"" style=""margin: 0px; padding: 0px; user-select: text; -webkit-user-drag: none; -webkit-tap-highlight-color: transparent; background-color: inherit;"">Excellent written and oral presentation skills and the ability to multi-task and work in a fast-paced environment</span></span><span class=""EOP SCXW205534629 BCX0"" style=""margin: 0px; padding: 0px; user-select: text; -webkit-user-drag: none; -webkit-tap-highlight-color: transparent; font-size: 12pt; line-height: 20.5042px; font-family: Calibri     1
 mandatory drug testing                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               1
-97.74306                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
Name: crawled_at, Length: 1599, dtype: int64

In [4]:
df['locality'].value_counts().head(30)

Atlanta          179
Chicago          124
Houston          102
New York          95
Dallas            93
Charlotte         86
Phoenix           85
Orlando           80
Tampa             74
Los Angeles       74
St. Louis         71
Jacksonville      65
Memphis           57
San Diego         57
Indianapolis      56
San Antonio       55
Columbus          53
Seattle           48
Austin            47
Cincinnati        47
Washington        46
Miami             45
Philadelphia      45
San Francisco     45
Knoxville         44
Portland          43
Marietta          43
Madison           42
Nashville         42
Boston            41
Name: locality, dtype: int64

In [5]:
df['title'].value_counts()

CUSTOMER SERVICE REPRESENTATIVE                                                                           205
SALES FLOOR ASSOCIATE                                                                                     200
Flatbed Truck Driving Job - Rider Policy Available                                                        115
Sales Representative                                                                                       84
KFC Team Member                                                                                            79
                                                                                                         ...
Sales Reps: 150-250K: Looking for a coachable leader!                                                       1
Vice President, Provider Network Management - AZ and TX                                                     1
Outreach Client Service Representative                                                                      1
Critical Care Nurse Educator                                                                                1
âœ¨âœ¨English Teachers for young learners, Teach Remotely. ðŸ’ðŸ’Make up to $26/hr, Get hired within a week!ðŸŽ‡ðŸŽ‡      1
Name: title, Length: 6366, dtype: int64

In [7]:
unique_skills = [val.strip() for sublist in df.skills.dropna().str.split(",").tolist() for val in sublist]

In [35]:
Skills_expanded =df['skills'].str.split(',', expand=True)
Skills_expanded.columns = ['skills'+str(i) for i in Skills_expanded.columns]

Skills_expanded_concat = pd.concat([df,Skills_expanded], axis=1)

seprated_skills_df = pd.melt(Skills_expanded_concat, value_vars=Skills_expanded.columns, value_name='Skill').dropna()
#seprated_skills_df.value_counts().head(50)

seprated_skills_df = seprated_skills_df.groupby(['skills'])
seprated_skills_df
#seprated_skills_df.to_csv('Top_Skills.csv')

KeyError: 'skills'

In [24]:
df['education'].value_counts()

High School                                                                                                                                                                                   3024
Bachelor's Degree                                                                                                                                                                             1027
Associate's Degree                                                                                                                                                                             601
4 Year Degree                                                                                                                                                                                  524
Other                                                                                                                                                                                          381
Vocational Certificate                                                                                                                                                                         168
2 Year Degree                                                                                                                                                                                  164
None                                                                                                                                                                                           111
Master's Degree                                                                                                                                                                                 79
Graduate Degree                                                                                                                                                                                 51
Ph.D.                                                                                                                                                                                           20
 Calibri_MSFontService                                                                                                                                                                           6
Doctorate                                                                                                                                                                                        5
 Arial                                                                                                                                                                                           2
Some College                                                                                                                                                                                     2
 sans-serif; vertical-align: baseline;"" role=""listitem"" data-leveltext=""ï‚·"" data-font=""Symbol"" data-listid=""5"" aria-setsize=""-1"" data-aria-posinset=""3"" data-aria-level=""1"">       2
 skills and contribution</span></p>                                                                                                                                                              1
 mentoring and providing technical direction to a team of Salesforce developers<br />Experienced in designing and developing Salesforce platform features such as custom objects                 1
serif; mso-fareast-font-family: 'Times New Roman'; color: black; mso-ansi-language: EN;"">Â  Â  Â </span><span style=""font-size: 10.0pt; font-family: 'Verdana'                                    1
2021-04-29T01:12:44Z                                                                                                                                                                             1
Menlo Park                                                                                                                                                                                       1
 sans-serif; vertical-align: baseline;"" role=""listitem"" data-leveltext=""ï‚·"" data-font=""Symbol"" data-listid=""5"" aria-setsize=""-1"" data-aria-posinset=""4"" data-aria-level=""1"">       1
 including criminal check and fingerprinting                                                                                                                                                     1
2021-04-27T20:14:24Z                                                                                                                                                                             1
Hamilton Township                                                                                                                                                                                1
 Arial_MSFontService                                                                                                                                                                             1
2021-04-09T12:06:19Z                                                                                                                                                                             1
 Qualifications                                                                                                                                                                                  1
 performance management                                                                                                                                                                          1
 sans-serif; vertical-align: baseline;"" role=""listitem"" data-leveltext=""ï‚·"" data-font=""Symbol"" data-listid=""5"" aria-setsize=""-1"" data-aria-posinset=""1"" data-aria-level=""1"">       1
 sans-serif; vertical-align: baseline;"" role=""listitem"" data-leveltext=""ï‚·"" data-font=""Symbol"" data-listid=""5"" aria-setsize=""-1"" data-aria-posinset=""2"" data-aria-level=""1"">       1
2021-04-30T09:44:40Z                                                                                                                                                                             1
 ICONMA prides itself on creating an employment environment that supports and encourages the abilities of all persons regardless of race                                                         1
2021-04-05T18:41:04Z                                                                                                                                                                             1
 insuredâ€™s                                                                                                                                                                                       1
 please send your resume along with a cover letter to: <strong style=""mso-bidi-font-weight: normal;"">Christine DeHart                                                                          1
Name: education, dtype: int64

In [ ]:
#\df['skills'].value_counts()

new = df["skills"]
new

In [ ]:
df.str.split()
df

In [ ]:
 
# new data frame with split value columns

new =df["skills"].str.split()
new

In [27]:
df["Skills"] = pd.DataFrame(new)
df["Skills"].value_counts().head(50)

NameError: name 'new' is not defined